* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}

.text-center,
.title {
  text-align: center;
}

.title {
  margin: 20px auto;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title:after {
  content: "";
  background: #ff523b;
  width: 80px;
  height: 4px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.btn {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
}

.btn:hover {
  background: #563434;
  transition: background 0.5s;
}

.form-btn {
  display: inline-block;
}

/* For Rating Stars */
.rating .fa {
  color: #ff523b;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5 {
  position: relative;
  width: 100%;
  padding: 0 15px;
}

.col-1 {
  flex-basis: 100%;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-3 {
  flex-basis: 30%;
}
.col-4 {
  flex-basis: 25%;
  min-width: 175px;
}
.col-5 {
  flex-basis: 16.67%;
  min-width: 120px;
}


select {
  border: 1px solid #ff523b;
}

select:focus {
  outline: none;
}

.page-btn {
  margin: 0 auto 80px;
}

.page-btn span {
  display: inline-block;
  border: 1px solid #ff523b;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  transition: 0.5s ease;
}
.page-btn span:hover {
  background: #ff523b;
  color: white;
}
.page-btn span a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

/* -------------cart page------------- */

.cart-page {
  margin: 80px auto;
}

.cart-page table {
  width: 100%;
  border-collapse: collapse;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}

.cart-page th {
  text-align: left;
  padding: 5px;
  color: #fff;
  background: #ff523b;
  font-weight: normal;
}

.cart-page td {
  padding: 10px 5px;
}

.cart-page td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}

.cart-page td a {
  color: #ff523b;
  font-size: 12px;
}
.cart-page td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.total-price {
  display: flex;
  justify-content: flex-end;
}

.total-price table {
  border-top: 3px solid #ff523b;
  width: 100%;
  max-width: 450px;
}

.cart-page td:last-child, .cart-page th:last-child {
  text-align: right;
}
.cart-page .border-bottom {
  border-bottom: 3px solid #ff523b;
}

/* -----------account page----------- */
.account-page {
  padding: 50px 0;
  background: radial-gradient(#fff, #ffd6d6);
}
.account-page .form-container {
  background: white;
  width: 300px;
  height: 400px;
  position: relative;
  padding: 20px 0;
  margin: auto;
  box-shadow:  0 0 20px 0px rgba(0,0,0,0.1);
  overflow: hidden;
}

.account-page .form-container span {
  font-weight: bold;
  padding: 0 10px;
  color: #555;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}

.account-page .form-container form {
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130px;
  transition: transform 1s;
}

.account-page .form-container form input {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
}

.account-page .form-container form .btn {
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}
.account-page .form-container form .btn:focus  {
  outline: none;
}

#LoginForm {
  left: -300px;
}
#RegForm {
  left: 0;
}
form a {
  font-size: 12px;
}

#Indicator {
  width: 100px;
  border: none;
  background: #ff523b;
  height: 3px;
  margin-top: 8px;
  transform: translateX(100px);
  transition: transform 1s;
}

/* Media Query For Menu */
@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 1;
  }
  nav ul li {
    display: block;
    margin: 10px 14px;
    color: white;
  }
  nav ul li a {
    color: white;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
}

/* ----------- Media Query For Less than 600 Screen Size --------- */
@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6 {
    flex-basis: 100%;
    padding: 8px 0;
  }
  /* Cart Page */
  .cart-info p{
    display: none;
  }
}
